<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MoonShop-Admin</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/css/vendor/fontawesome-free/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/css/common/tab.css}" rel="stylesheet">
    <link th:href="@{/css/common/btn.css}" rel="stylesheet">
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <th:block th:replace="common/side :: sideFragment"></th:block>
    <!-- End of Sidebar -->
    <br/>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Header -->
            <th:block th:replace="common/header :: headFragment"></th:block>
            <!-- End of Header -->
            <!-- Page Heading -->
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">사용자 정보</li>
            </ul>
            <!-- Begin Page Content -->
            <div class="container-fluid tab-content current" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="checkout__form__input">
                            <p>아이디 <span>*</span></p>
                            <input type="text" id="member-id" class="form-control bg-light" placeholder="아이디" th:value="${member.memberId}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="checkout__form__input">
                            <p>이메일 <span>*</span></p>
                            <input type="text" id="email" class="form-control bg-light" placeholder="이메일" th:value="${member.email}">
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <input id="member-seq" type="hidden"  th:value="${member.memberSeq}">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="checkout__form__input">
                            <p>이름(실명) <span>*</span></p>
                            <input type="text" id="member-name" class="form-control bg-light" placeholder="이름(실명)" th:value="${member.name}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="checkout__form__input">
                            <p>닉네임 <span>*</span></p>
                            <input type="text" id="nick-name" class="form-control bg-light" placeholder="닉네임 입력(최대 15자)" maxlength="15" th:value="${member.nickName}">
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="checkout__form__input">
                            <p>비밀번호 <span>*</span></p>
                            <input type="password" id="new-password" class="form-control bg-light" placeholder="비밀번호" th:value="${member.password}">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md- col-sm-6">
                        <div class="checkout__form__input">
                            <p>비밀번호 재입력 <span>*</span></p>
                            <input type="password" id="confirm-password" class="form-control bg-light" placeholder="비밀번호 재입력">
                        </div>
                        <div th:if="${member.memberSeq > 0}" class="col-lg-2 col-md-6 col-sm-6 btn-group">
                            <button type="button" class="n-btn btn-sm btn-accent disabled" id="btn-change-password">변경</button>
                        </div>
                    </div>
                </div>
                <div class="btn-area">
                    <button class="btn btn-save" type="button" id="btn-save">저장</button>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{/js/common/tab.js}"></script>
<script th:src="@{/js/member/memberInfo.js}"></script>

</body>
</html>