body{
  line-height: 1.6;
}

.container{
  margin: 0 auto;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-left: 5px;
}
ul.tabs li{
  background: #858796;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
}

ul.tabs li.current{
  color: #fff;
  background-color: #4e73df;
}

.tab-content{
  display: none;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

#tab-1 {
  background-color: #fff;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}