/*---------------------
  상품 관리
-----------------------*/

.real-upload, .real-upload1, .real-upload2, .real-upload3 {
  display: none;
}

.upload, .upload1, .upload2, .upload3 {
  width: 200px;
  height: 265px;
  background-color: gray;
}

.btn-area {
  margin-top: 50px;
  text-align: center;
}
.btn-area2 {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    float: right;
    margin-right: 10px;
}
.btn {
  border-color: #4e73df;
}

.btn-save {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
  width: 100px;
  height: 50px;
}