/*---------------------
  상품 관리
-----------------------*/

.real-upload, .real-upload1, .real-upload2, .real-upload3 {
  display: none;
}

.upload, .upload1, .upload2, .upload3 {
  width: 200px;
  height: 265px;
  background-color: gray;
}